<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>SalesWebMvcNode</title>
    <link rel='stylesheet' href="/css/bootstrap-flaty.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a href="#" class="navbar-brand">SalesWebMvcNode</a>
        <div class="collapse navbar-collapse" id="navBarContent">
            <ul class="navbar-nav mr-auto">
                <li <% if (page_name === 'home'){%> 
                    class="nav-item active"
                     <% } %>>
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li <% if (page_name === 'departments'){%> 
                    class="nav-item active"
                     <% } %>>
                    <a class="nav-link" href="/departments">Departments</a>
                </li>   
                <li <% if (page_name === 'sellers'){%> 
                    class="nav-item active"
                     <% } %>>
                    <a class="nav-link" href="/sellers">Sellers</a>
                </li>
                <li <% if (page_name === 'sellers'){%> 
                    class="nav-item active"
                     <% } %>>
                    <a class="nav-link" href="/salesrecord">Sales</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">