<%- include('../shared/header') %>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <h2>SalesRecords</h2>
            <p>
                Um texto da tela HOME
            </p>
        </div>
    </div>
<%- include('../shared/footer') %> 